:root{
    --fontColor1: #fff;
    --fontColor2: #000;
    --fontColor3: #304436;
    --bgColor1:rgb(35, 53, 40);
    --bgColor2: rgb(28, 48, 34);
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background: var(--bgColor1);
}

.container{
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

@media(max-width: 500px){
    .container{
        justify-content: start;
        padding: 15px;
    }
}